---
layout: default
---

{% assign sorted_movie_list = page.movie_list | sort: 'title' %}
{% assign sorted_director_list = page.director_list | sort: 'name' %}

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        <p>
          Just a little note about ratings :)
          <br>
          <a href="https://xkcd.com/1098/" target="_blank"><img src="https://imgs.xkcd.com/comics/star_ratings.png"/></a>
        </p>
        <p>The list below duplicates the information in my <a href="http://www.imdb.com/user/ur71228508/" target="_blank">IMDb profile</a>. At this juncture, there are {{ page.movie_list | size }} films rated.</p>
        <ul>
          {% for entry in sorted_movie_list %}
          <li>
            <a href="http://www.imdb.com/title/{{ entry.imdb_title }}/" target="_blank">{{ entry.title }}</a> ({{ entry.year }})
            {% case entry.rating %}
              {% when 0.5 %}
                ½
              {% when 1 %}
                ★
              {% when 1.5 %}
                ★½
              {% when 2 %}
                ★★
              {% when 2.5 %}
                ★★½
              {% when 3 %}
                ★★★
              {% when 3.5 %}
                ★★★½
              {% when 4 %}
                ★★★★
              {% when 4.5 %}
                <mark>★★★★½</mark>
              {% when 5 %}
                <mark>★★★★★</mark>
            {% endcase %}
          </li>
        {% endfor %}
        </ul>

        <p>Below is the list of my favourite directors:</p>
        <ul>
          {% for entry in sorted_director_list %}
          <li>
            <a href="http://www.imdb.com/name/{{ entry.imdb_name }}/" target="_blank">{{ entry.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </article>

    {% include footer.html %}
  </div>
</main>
