---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <p>The lists below duplicate the information in my <a href="http://www.imdb.com/user/ur71228508/" target="_blank">IMDb profile</a>.</p>
  	<h2>Log (starting December 2016)</h2>
  	<p>
  		List is formatted as follows:
  		<br>
  		<code>timestamp / title (year) rating</code>
  	</p>
  	<p>
  		<i>timestamp stands for the date when I watched the movie</i>
  	</p>
  	<ul>
  		{% for entry in page.log_list %}
  		<li>
        <small>{{ entry.date }}</small> / <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a> ({{ entry.year }})
        {% case entry.rating %}
          {% when 0.5 %}
            ½
          {% when 1 %}
            ★
          {% when 1.5 %}
            ★½
          {% when 2 %}
            ★★
          {% when 2.5 %}
            ★★½
          {% when 3 %}
            ★★★
          {% when 3.5 %}
            ★★★½
          {% when 4 %}
            ★★★★
          {% when 4.5 %}
            ★★★★½
          {% when 5 %}
            ★★★★★
        {% endcase %}
      </li>
		{% endfor %}
  	</ul>
    <h2>Other movies</h2>
    <p>
      List is formatted as follows:
      <br>
      <code>title (year) rating</code>
    </p>
    <ul>
      {% for entry in page.other_list %}
      <li>
        <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a> ({{ entry.year }})
        {% case entry.rating %}
          {% when 0.5 %}
            ½
          {% when 1 %}
            ★
          {% when 1.5 %}
            ★½
          {% when 2 %}
            ★★
          {% when 2.5 %}
            ★★½
          {% when 3 %}
            ★★★
          {% when 3.5 %}
            ★★★½
          {% when 4 %}
            ★★★★
          {% when 4.5 %}
            ★★★★½
          {% when 5 %}
            ★★★★★
        {% endcase %}
      </li>
    {% endfor %}
    </ul>
  </article>

</div>
